<h1>New Attachment</h1>
<%= form_for @attachment, :url=>{:action=>"create",:uid=>@user.id},:html => { :multipart => true } do |form| %>
<%= render partial: 'form' ,locals: {f: form}%>
<% end %>
<br>
<%= link_to 'Back', attachments_path , class:'btn btn-block btn-info col-xs-12 col-md-12'%>
    