<h1>Editing Image</h1>

<div class="container">
<%= form_for @image, :url=>{:action=>"update",:aid=>@attachment.id},:html => { :multipart => true } do |form| %>
<%= render partial: 'form' ,locals: {f: form}%>
<% end %>

<%= link_to 'Show', @image ,class:'btn btn-info col-xs-6 col-md-6' %>
<%= link_to 'Back', @attachment ,class:'btn btn-info col-xs-6 col-md-6' %>
 </div> 