<p id="notice"><%= notice %></p>


<div style="text-align: center">
<p>
  <strong>Attachment:</strong>
  <%= @image.photo_file_name %>
</p>
<p>	
<%= image_tag @image.photo, style:'width:100%' if @image.photo? %>
</div>
</p>
<%= link_to 'Back', :back , class:'btn btn-info btn-block' %>
 